[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lbdvlpr
[access "refs/for/refs/*"]
	read = group user/lbdvlpr
	push = group user/lbdvlpr
	label-Code-Review = -2..+2 group user/lbdvlpr
	label-Verified = -1..+1 group user/lbdvlpr
	rebase = group user/lbdvlpr
	removeReviewer = group user/lbdvlpr
	submit = group user/lbdvlpr
[access "refs/heads/*"]
	read = group user/lbdvlpr
	create = group user/lbdvlpr
	push = +force group user/lbdvlpr
	pushMerge = group user/lbdvlpr
[access "refs/tags/*"]
	push = group user/lbdvlpr
	push = +force group user/lbdvlpr
